html {
    height: 100%;
    background-color: #BDBDBD;
    font-family: Roboto, serif;
}

body {
    height: calc(100vh - 63px);
    margin: 0;
}

main {
    min-height: calc(100vh - 63px);
}

main .spacing {
    display: block;
    min-height: 150px;
}

section {
    background-color: #E0E0E0;
    width: 75%;
    min-height: 250px;
    margin: auto auto 50px;
    box-shadow: black 0 0 20px 1px;
}

section:last-of-type {
    margin-bottom: 0;
}

section .content {
    padding-top: 0.83em;
    padding-bottom: 0.83em;
}

section h1 {
    margin-bottom: auto;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #78002E;
}

section article {
    min-height: 100px;
    background-color: #EEEEEE;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: black 0 0 20px 1px;
}

section article h2 {
    margin-bottom: auto;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #AD1457;
}

.top {
    background-color: #78002E;
    position: fixed;
    width: 100%;
    padding-left: 80px;
    top: 0;
    z-index: 100;
    padding-bottom: 22px;
}

.top h1 {
    color: white;
    margin-left: 80px;
}

.top .menu {
    list-style-type: none;
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: black 0 1px 20px;
    background-color: #AD1457;
}

.top .menu a {
    background-color: #AD1457;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 13px 3vw 13px;
}

.top .menu a:hover, .top .menu a.current {
    padding-bottom: 10px;
    border-bottom: solid #311B92 3px;
}

.top .logos img {
    top: 0;
    position: fixed;
    padding: 10px;
    height: 60px;
    filter: drop-shadow(5px 5px 5px black);
    user-select: none;
}

.top .logos .logo_atc {
    left: 0;
}

.top .logos .logo_eredivisie {
    left: 80px;
}


/*Beginning footer*/
footer {
    margin-top: 25px;
    box-shadow: black 0 1px 25px;
    height: 38px;
    background-color: #78002e;
}

footer aside {
    color: white;
    padding: 10px 50px;
}

footer aside a {
    color: white;
    text-decoration: none;
}

footer aside.left {
    float: left;
    text-align: left;
}

footer aside.right {
    float: right;
    text-align: right;
}

/*Ending footer*/