html {
    #cursor: url(../img/cursor.png) 8 8, auto;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

main {
    min-height: 100%;
    margin-bottom: -38px;
}

footer {
    box-shadow: black 0px 1px 10px;
    height: 38px;
    background-color: #C2185B;
}

footer span a {
    color: white;
    text-decoration: none;
}

footer span {
    color: white;
    background-color: #C2185B;
    padding: 10px 50px;
}

footer span.left {
    float: left;
    text-align: left;
}

footer span.right {
    float: right;
    text-align: right;
}