html {
    #cursor: url(../img/cursor.png) 8 8, auto;
    height: 100%;
    background-color: #BDBDBD;
    font-family: Roboto, serif;
}

body {
    height: calc(100vh - 63px);
    margin: 0;
}

main {
    min-height: calc(100vh - 63px);
}

main .spacing {
    display: block;
    min-height: 150px;
}

section {
    background-color: #E0E0E0;
    width: 75%;
    min-height: 250px;
    margin: auto auto 50px;
    box-shadow: black 0 0 20px 1px;
}

section:last-of-type {
    margin-bottom: 0;
}

section .content {
    padding-top: 0.83em;
    padding-bottom: 0.83em;
}

section h1 {
    margin-bottom: auto;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #78002E;
}

section article {
    min-height: 100px;
    background-color: #EEEEEE;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: black 0 0 20px 1px;
}

section article h2 {
    margin-bottom: auto;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #AD1457;
}

/*Beginning list*/
.list .item img {
    display: block;
    position: absolute;
    border-right: solid white 8px;
    border-bottom: solid white 2px;
    border-top: solid white 2px;
    border-radius: 100px;
    margin-left: 8px;
    margin-top: -2px;
}

section .list .item img {
    border-right: solid #E0E0E0 8px;
    border-bottom: solid #E0E0E0 2px;
    border-top: solid #E0E0E0 2px;
}

article .list .item img {
    border-right: solid #EEEEEE 8px;
    border-bottom: solid #EEEEEE 2px;
    border-top: solid #EEEEEE 2px;
}

.list .item {
    display: block;
    margin-right: 8px;
    height: 40px;
}

.list .item span {
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin: auto auto auto 40px;
    height: 32px;
    background-color: #8e8e8e;
    #background-color: #6746c3;
    color: white;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
}

.list .item:nth-child(2n) span {
    background-color: #616161;
    #background-color: #311b92;
}

/*Ending list*/

/*Beginning slideshow*/
.slideshow {
    position: relative;
    display: flex;
    align-items: center;
}

.slideshow img {
    min-width: 50%;
    width: 1000px;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.slideshow .previous {
    position: absolute;
    margin-left: calc(12.5% - 16px);
    background-color: #BDBDBD;
    border-radius: 32px;
    font-size: 32px;
    cursor: w-resize;
    user-select: none;
}

.slideshow .next {
    position: absolute;
    margin-left: calc(87.5% - 16px);
    margin-right: calc(12.5% - 16px);
    background-color: #BDBDBD;
    border-radius: 32px;
    font-size: 32px;
    cursor: e-resize;
    user-select: none;
}

.slideshow .items .item {
    visibility: hidden;
    display: none;
}

.slideshow .items .item.active {
    visibility: visible;
    display: block;
}

/*Ending slideshow*/

/*Beginning popup img*/
.popup img {
    cursor: pointer;
}

.popup .popup-full .popup-img {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(97, 97, 97, 0.75);
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 100;
}

.popup .popup-full .popup-img img {
    width: auto !important;
    display: block !important;;
    max-width: 70vw !important;;
    max-height: 80vh !important;;
    margin: auto !important;;
    cursor: auto !important;;
}

.popup .popup-full .close {
    top: 5vh;
    right: 10vw;
    position: fixed;
    background-color: #BDBDBD;
    border-radius: 15px;
    z-index: 1000;
    visibility: hidden;
    cursor: pointer;
}

.popup img:active ~ .popup-full .popup-img, .popup img:active ~ .popup-full .close,
.popup .popup-full .popup-img:hover, .popup .popup-full .close:hover:not(:active) ~ .popup-img, .popup .popup-full:hover .close {
    visibility: visible;
}

.popup .popup-full .close:active {
    visibility: hidden !important;
}

/*Ending popup img*/

/*Beginning footer*/
footer {
    margin-top: 25px;
    box-shadow: black 0 1px 25px;
    height: 38px;
    background-color: #78002e;
}

footer aside a {
    color: white;
    text-decoration: none;
}

footer aside {
    color: white;
    padding: 10px 50px;
}

footer aside.left {
    float: left;
    text-align: left;
}

footer aside.right {
    float: right;
    text-align: right;
}

/*Ending footer*/