.top {
    background-color: #78002E;
    position: fixed;
    width: 100%;
    padding-left: 80px;
    top: 0;
    z-index: 100;
    padding-bottom: 22px;
}

.top h1 {
    color: white;
}

.top .menu {
    list-style-type: none;
    display: flex;
    position: fixed;
    width: 100%;
    box-shadow: black 0 1px 20px;
    background-color: #AD1457;
}

.top .menu a {
    background-color: #AD1457;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 13px 3vw 13px;
}

.top .menu a:hover, .top .menu a.current {
    padding-bottom: 10px;
    border-bottom: solid #311B92 3px;
}

.top .logos img {
    top: 0;
    position: fixed;
    padding: 10px;
    height: 60px;
    filter: drop-shadow(5px 5px 5px black);
    user-select: none;
}

.top .logos .logo_atc {
    left: 0;
}

.top .logos .logo_eredivisie {
    left: 280px;
}