.top {
    background-color: #C2185B;
    position: fixed;
    width: 100%;
    padding-left: 50px;
    box-shadow: black 0px 1px 10px;
    top: 0px;
}

.top h1 {
    color: white;
}

.top .menu {
    list-style-type: none;
    padding: 0px;
    margin-left: 50px;
    display: inline-block;
    box-shadow: black 0px 0px 50px 5px;
}

.top .menu a {
    margin-left: -5px;
    background-color: #fa5788;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 13px 25px 13px;
}

.top .menu a:hover, .top .menu a.current {
    padding-bottom: 10px;
    border-bottom: solid #7E57C2 3px;
}