.top {
    background-color: #FBC02D;
    position: fixed;
    width: 100%;
    padding-left: 50px;
    box-shadow: black 0px 1px 10px;
}

.top h1 {

}

.top ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 30px;
}

.top li {
    float: left;
    display: inline-block;
}

.top li a {
    padding: 10px 25px 10px 25px;
    background-color: #F9A825;
    box-shadow: black 0px 1px 2px;
    text-decoration: none;
    color: inherit;
}

.top li a:hover {
    background-color: #F57F17;
}